@font-face {
    font-family: ali ;
    src: url(Barlow_Condensed/BarlowCondensed-ExtraBold.ttf);
}
@font-face {
    font-family: ali-normal;
    src: url(Barlow_Condensed/BarlowCondensed-Light.ttf);
}

*{
    font-family: ali-normal;
}

h1,h2{
    a{
        color:black!important;  
    }
    color:  #043369 !important;
    font-family: ali !important;
    span{
        font-family: ali !important;
        font-weight: bolder;
        text-transform: capitalize
        ;
    }
}

h1::first-letter{
    font-size: 70px !important
}

.course:hover{
    h5{
        font-weight: bolder;
    }
    cursor: pointer;
    background: rgb(255,255,255);
    background: linear-gradient(321deg, rgba(255,255,255,1) 32%,rgba(38, 178, 243, 0.199)  100%);;
    p{font-weight: 600;
    }
}

.course:active{
    h5{
        font-weight: bolder;
    }
    cursor: pointer;
    background: rgb(255,255,255);
    background: linear-gradient(321deg, rgba(255,255,255,1) 32%,rgba(38, 178, 243, 0.199)  100%);;
    p{font-weight: 600;
    }
}

.course{
    h5{
        font-weight: 400;
    }
    p{
         color:#043369 
       
    }
}

button.accordion-button.collapsed{
    background: rgb(255,255,255);
    background: linear-gradient(321deg, 321deg,rgba(110, 177, 255, 0.356) 25%, rgba(255,255,255,1) 100%);
    color:  rgb(4, 51, 105) ;
    border-bottom: 1px solid #04336969; 
    padding: 20px 10px;
    
}

.accordion-button:not(.collapsed) {
    color: #043369 ;
    background: rgb(255,255,255);
    background: linear-gradient(321deg,rgba(110, 177, 255, 0.356) 25%, rgba(255,255,255,1) 100% )
     ;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);}


    @media  screen and (max-width:500px) {
        .header{
            img{
                width: 150px !important;
                height: 90px !important;
            }
            h1{
                font-size: 15px !important ;
            }
        }
    }


    .darkmodebody{
       
        background-color: rgb(17, 17, 17) ;
        background-color: rgb(17, 17, 17) ;
        h1 , h4{
            color: #177be6 !important;
        }
    

        p{
            color:  #177be6  !important;
        }

        .course:hover{
            h5{
                font-weight: bolder;
            }
            cursor: pointer;
            background: rgb(5, 5, 5);
            background: linear-gradient(321deg, rgb(0, 0, 0) 32%,rgba(38, 178, 243, 0.199)  100%);;
            p{font-weight: 600;
            }
        }

        .accordion-item {
            color: var(--bs-accordion-color);
            background-color: rgb(12, 12, 12);
            border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    }

    button.accordion-button.collapsed {
        background: rgb(12 12 12);
        background: linear-gradient(321deg, 321deg, rgba(110, 177, 255, 0.356) 25%, rgba(255, 255, 255, 1) 100%);
        color: #177be6  ;
        border-bottom: 1px solid #0a0a0a69;
        padding: 20px 10px;
    }

    .accordion-button:not(.collapsed) {
        color:   #177be6  ;
        background: rgb(12,12,12);
        background: linear-gradient(321deg,rgba(110, 177, 255, 0.356) 25%, rgb(0, 0, 0) 100% )
         ;
        box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    }
    .table{
    --bs-table-color:  #75c2f5  ;
    --bs-table-bg: #000;
    }

}
  
    
    .lightmodebody{
        background-color: white;
    }
    