@font-face {
    font-family: ali ;
    src: url(Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
@font-face {
    font-family: ali-normal;
    src: url(Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

$primarycol:#043369;

body{
    font-family: ali-normal;
}

.middle-div{
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

h1,h3{
    font-family: ali !important;
    letter-spacing: 2px;
    color: #043369 !important;
}

h1::first-letter{
font-size: 70px
}

span{
    letter-spacing: 4px;
    word-spacing: 4px;
    font-size: 50px;
    color: rgb(141, 198, 63);
}

#typing{
    color: $primarycol;
}

.newbtn{
    background-color:$primarycol!important; 
    color: white !important;
    font-size: 20px !important;
    padding: 4px 40px !important;
}

.modal-footer{
    border: none !important;
}

.icon{
    color: black;
}

@media  screen and (max-width:500px) {
    span{
        letter-spacing: 4px;
        word-spacing: 4px;
        font-size: 20px !important;
        color: rgb(141, 198, 63);
    }
    .header{
        img{
            width: 140px !important;
            height: 80px !important;
        }
        h1{
            font-size: 15px !important ;
        }
    }
}

.darkmodebody{
    animation-name: darkmode;
    animation-duration: 2s;
   
    background-color: rgb(17, 17, 17) ;
    h1 , h4{
        color: #177be6 !important;
    }
    #typing{
        color: #177be6 !important;
    }
    #exampleModal{
        color: black !important;
    }
    #Modal2{
        color: black !important ;
    }
}

@keyframes darkmode { from {
    background-color: white;
} to { background-color: rgb(17, 17, 17);}
    
}

.lightmodebody{
    background-color: white;
}

